/* You can add global styles to this file, and also import other style files */
@use 'tailwind.css';
@use 'assets/layout/layout';
@use 'primeicons/primeicons.css';
@use 'assets/demo/demo';

.surface-ground {
  background-color: var(--surface-ground) !important;
}

.surface-ground .p-card {
  background-color: var(--surface-ground) !important;
}

.surface-hover .p-card {
  background-color: var(--surface-hover) !important;
}
